.ship-img > img {
    width:100%;
    padding: 10px;
}

.special-add-btn {
    margin-right: 5px;
    bottom: 5px;
    line-height:10px;
}

.treeview-menu .treeview-menu {
    padding-right:30px !important;
}